.div1 {
    border-style: dotted;
    border-color: blue;
}
.div2 {
    border-style:ridge;
    border-color: red;
}
.div3{
    border-color: chartreuse;
    border-style:groove;
    height: 200px;
}
img {
    margin-left: 655px;
    width: 200px;
    border-radius: 100%;
}
h1{
    text-align: center;
    font-family:monospace;
}
h3{
    text-align: center;
    font-family:cursive;
}